### Composer template
composer.phar
composer.lock
/vendor/

# CMake
cmake-build-*/

# File-based project format
*.iws

# IntelliJ
.idea/
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# PHPUnit
.phpunit.result.cache
